@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

@font-face {
    font-family: 'Jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css');
 
:root {
  font-family: 'Noto Sans KR', sans-serif !important; 
}

button{ cursor: pointer;}

body {
  font-family: 'Noto Sans KR', sans-serif !important; 
  background-color: #f8fafc;   
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: keep-all; /* 단어 단위 줄바꿈 기본 적용 */
}
 
.font-jalnan {
  font-family: 'Jalnan', sans-serif !important;
  letter-spacing: -0.02em; /* 잘난체는 자간을 살짝 줄여야 더 예뻐! */
}

.timer-font {
  font-family: 'Pretendard', sans-serif !important;
  /* ✨ 핵심: 숫자의 간격을 일정하게 고정하는 속성! */
  font-variant-numeric: tabular-nums; 
  -moz-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  font-weight: 800; /* 타이머는 두꺼워야 제맛! */
}